[Unit]
Description=Run WPSD Tasks at random intervals

[Timer]
# Set the timer to trigger every 2 hours, with randomized start time within each window
OnCalendar=*:0/2:00
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
